body{
    background-color: #141418;
    font-family: sans-serif;
    overflow: hidden;
}

header{
    display: flex;
    justify-content: space-between;
}

h3{
    margin-left: 45px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 100;
}

h7{
    font-size: small;
    margin-right: 20px;
    margin-top: 25px;
    font-weight: 100;
    font-family: sans-serif;
    color: red;
}

.cards{
    margin-right: 14px;
    margin-left: 17px;
    width: 1330px;
  display: inline-block;
  cursor: pointer;
/*Zoom*/
  transition: transform .2s;

}


.card1:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
 background-color: rgb(9, 14, 19);
  }


  .card2:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
 background-color: rgb(9, 14, 19);
  }

  .card3:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
 background-color: rgb(9, 14, 19);
  }

.card1 {
    background-color: rgba(35, 34, 49, 0.438);
    color: white;
    margin: 20px;
    padding: 25px;
}

ul{
    
    list-style-type: none;
}

li{
    display: inline-block;
    margin: 0 62px 0 0;

}
  .card2 {
    background-color: rgba(35, 34, 49, 0.438);
    color: white;
    margin: 20px;
    padding: 25px;
  }

  .card3 {
    background-color: rgba(35, 34, 49, 0.438);
    color: white;
    margin: 20px;
    padding: 25px;
  }

  .card1 img{
      align-items:center;
      border-radius: 50%;
      height: 34px;
      width: 35px;
  }

  .pic1{
      height: 25px;
      width: 50px;
  }

  .card2 img{
    align-items:center;
    border-radius: 50%;
    height: 29px;
    width: 35px;
}

.card3 img{
    align-items:center;
    border-radius: 50%;
    height: 29px;
    width: 35px;
}

  h5{
      margin-left: 5px;
      font-size: small;
      font-weight: 100;
      font-family: sans-serif;
      color: gray;
  }

  .button {
    background-color: rgba(31, 69, 129, 0.247);
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 14px 6px;
    cursor: pointer;
    border-radius: 16px;
  }
  
  .button:hover {
    background-color: gray;
  }
  a {
    color: #fff;
    text-decoration: none;
    padding: 15px 5px;
    position: relative;
  }
  a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after { 
    width: 100%; 
    left: 0; 
  }

  #pic1{
    margin-left: 25px; 
    height: 20px; 
    width: 20px; 
    margin-bottom: -7px;
  }

  #cpic1{
    margin-left: 25px; 
    height: 20px; 
    width: 20px; 
    margin-bottom: -7px;
  }

  .cpic3{
    margin-left: 25px; 
    margin-bottom: 50px; 
    line-height: 0
  }

  #cpic4{
    margin-left: 25px; 
    margin-bottom: 50px; 
    line-height: 1.2;
  }

  #cpic4 img{
    margin-left: -40px; 
    margin-bottom: -20px;
  }

  #cpic5{
    line-height: 0 ; 
    margin-left: 20px;
  }

  #cpic5 img{
    margin-left: 30px; 
    height: 30px; 
    width: 30px;
  }

  .pic1{
    margin-left: 25px; 
    height: 20px; 
    width: 20px; 
    margin-bottom: -7px;
  }

  #card3pic2{
    margin-bottom: -14px; 
    margin-left: 25px;
    height: 34px; 
    width: 34px;
  }

  #card3pic3{
    margin-left: 25px; 
    margin-bottom: 50px; 
    line-height: 0;

  }

  .card3 .pic1{
    height: 20px;
    width: 20px;
  }